* {
  box-sizing: border-box;
}

.chat-side {
  background-color: #253141;
  height: 100vh;
  width: 300px;
   .side-header {
     background-color: #253141; 
     height: 100px;
     width: 300px;
     display: flex;
     align-items: center;
     padding: 0 20px;
    &__box {
      background-color: #253141;
      height: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #ffffff;
    }
    &__box__menu {
      display: flex;
      width: 60px;
      a {
        color: #ffffff;
        padding-left: 5px;
      }
    }
  }
   .groups{
     background-color: #2f3e51;
     height: calc(100vh - 100px);
     width: 300px;
     padding: 20px 20px 0;
     a {
       text-decoration: none;
       padding-top: 0;
     }
   }
   .group {
     height: 51px;
     width: 100%;
     color: #ffffff;
     text-decoration: none;
     margin-bottom: 40px;
      .group-name {
      padding-bottom: 5px;
      font-size: 15px;
      }
      .group-message {
      font-size: 11px;
      }
    }
 }

.main-chat {
  height: 100vh;
  width: calc(100vw - 300px);
  position: relative;
   .main-header {
    background-color: #ffffff;
    height: 100px;
    width: calc(100vw - 300px);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .left-box__group-name {
      font-size: 20px;
      color: #333333;
      padding: 35px 0 15px 0;
    }
    .left-box__menber {
      font-size: 12px;
      color: #999999;
      display: flex;
      .left-box__menber__name {
        padding-left: 3px;
      }
    }
    .edit__link {
      margin-top: 28px;
      border: 1px solid #38aef0;
      text-decoration: none;
      height: 40px;
      width: 72px;
      color: #38aef0;
      text-align: center;
      line-height: 40px
    }
  }
    .messages {
      overflow: scroll;
      background-color: #fafafa;
      height: calc(100vh - 190px);
      width: calc(100vw - 300px);
      padding: 35px 40px;
      overflow: scroll;
    .message-box__user-name {
      color: #333333;
      font-size: 16px;
      display: flex;
      padding-bottom: 12px;
    .message-box__date-time {
      color: #999999;
      font-size: 12px;
      padding-left: 10px;
        }
      }
    .message-box__user-message {
      color: #434A54;
      font-size: 14px;
      padding-bottom: 46px;
      } 
    }
    .form {
      background-color: #999999;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
        padding-left: 10px;
      }
      &__mask {
      background-color: white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
      font-size: 20px;
      line-height: 50px;
      }
      .hidden {
      display: none;
      }
      }
      &__submit {
      background-color: #38aef0;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}

